*{
background-color: black;
}
.para{
    color: black;
    background-color: beige;
    border: 2px black solid;
}
.para1{
    border: 2px solid blue;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-left: 70px;
    margin-right: 70px;
    color: white;
}