/* *{
 
background-color: #1E1E1E;
    color:white;
    text-align: center;
}
.container{
    margin: auto;
    inset: 0;
    background-color: grey;
    width: 400px;
    height:580px;
    
}
.box{
    margin-top: 100;
    height: 580px;
    width: 400px;
    margin-top: 100px;
    box-shadow: 2px 2px 5px 5px blue;
  
}
img{
    margin-top: 10px;
    width:200px;
    height: 200px;
    border-radius: 50%;
}
.phone{
    width:100px;
    background-color: chartreuse;
    margin-left: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: larger;
}
.phone:hover{
    background-color: aqua;
    color: white;
} */
   /* background-color:indigo; */
    /* background-color:#121212; */
    /* background-color:#0A192F; */
    /* background-color:#0F2417; */
    /* background: linear-gradient(135deg, #121212); */


   *{
    /* background-color: #0E1B2A;  */
    color:black; 
    text-align: center;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}


.container{
    /* background-color: #1A2F47;  */
    width: 400px;
    height:700px;
    border-radius: 10px;
}
ul{
    list-style:none;
    margin-right: 40px;
   
}
ul li{
     background-color: wheat;
     color: black;
     margin-top:15px ;
     padding: 0;
     height: 30px;
     border-radius: 10px;
     font-weight: 200;
     padding-top: 10px;
}

.box{
    height: 700px;
    width: 400px;
    /* box-shadow: 2px 2px 5px 5px grey; */
    border: 2px solid black;
    border-radius: 20px;
}


img{
    margin-top: 10px;
    width:150px;
    height: 150px;
    border-radius: 50%;
}


.phone{
    width:100px;
    background-color: #6ECFFF;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    border-radius: 10px;
    font-size: larger;
    color: #0E1B2A;
    padding-top: 15px;
}

.phone:hover{
    background-color: #33A9FF;
    color: white;
}
 
